# ОС и редакторы
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Node/JS
node_modules/
dist/
build/
coverage/
.cache/
.npm/
.pnpm-store/

# Логи и отладка
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env/секреты
.env
.env.*
!.env.example

# Бандлы/артефакты
*.zip
*.tar
*.gz

# Базы/дампы (если вдруг лежат в проекте)
*.sqlite
*.db
*.sql
